/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.box {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  border-radius: 10px;
}

.testimonials {
  height: 800px;
  display: grid;
  gap: 0.7rem;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
}

.daniel {
  grid-area: daniel;
  background-color: rgb(115, 63, 200);
  color: white;
}

.jonathan {
  grid-area: jonathan;
  background-color: rgb(72, 84, 107);
  color: white;
}

.kira {
  grid-area: kira;
  background-color: rgb(255, 255, 255);
}

.jeanette {
  grid-area: jeanette;
  background-color: rgb(255, 255, 255);
  color: black;
}

.patrick {
  grid-area: patrick;
  background-color: rgb(24, 31, 44);
  color: white;
}

.profilePic {
  border-radius: 100px;
}
