/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
}

.box {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  border-radius: 6px;
}

.testimonials {
  display: grid;
  gap: 0.7rem;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
}

.daniel {
  grid-area: daniel;
}

.jonathan {
  grid-area: jonathan;
}

.kira {
  grid-area: kira;
}

.jeanette {
  grid-area: jeanette;
}

.patrick {
  grid-area: patrick;
}
