/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: left;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.box {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid blue;
  border-radius: 10px;
}

.testimonials {
  height: 1000px;
  width: 1800px;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
}

.daniel {
  display: block;
  grid-area: daniel;
  background-color: rgb(115, 63, 200);
  color: white;
}

.jonathan {
  display: block;
  grid-area: jonathan;
  background-color: rgb(72, 84, 107);
  color: white;
}

.kira {
  display: block;
  grid-area: kira;
  background-color: rgb(255, 255, 255);
}

.jeanette {
  display: block;
  grid-area: jeanette;
  background-color: rgb(255, 255, 255);
  color: black;
}

.patrick {
  display: block;
  grid-area: patrick;
  background-color: rgb(24, 31, 44);
  color: white;
}

.profilePic {
  border-radius: 100px;
  max-width: 300px;
  height: auto;
}

.pic_title {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.title_wrapper {
}

h1 {
}

h2 {
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

p {
}
